.issues-list{
  margin: 10px 30px;
}

.issues-filter-box,
.issues-info {
  margin: 10px 40px;
}

.list-item {
  display: flex;
  margin: 10px;
  align-items: center;
}

.item-info__title,
.item-info__subtitle {
  padding: 0 10px;
}
